.supplyCard {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__titleItems {
    display: flex;
    gap: 16px;
    font-size: 13px;
    margin: 0 0 12px 12px;
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: var(--color-transparent);
    border-radius: 14px;
    gap: 16px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.24);
    }
  }

  &__items {
    width: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px 8px 3px 7px;
    gap: 13px;
    flex-grow: 1;
  }

  &__warehouse {
    flex-grow: 1;
  }

  &__item {
    padding: 6px 8px 0px 8px;
  }

  &__city,
  &__type,
  &__warehouse,
  &__address,
  &__statusContainer,
  &__status_value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__date,
  &__number,
  &__quantity {
    word-break: break-all;
  }

  &__number {
    width: 84px;
  }

  &__date {
    width: 112px;
  }

  &__city {
    width: 148px;
    white-space: nowrap;
  }

  &__quantity {
    width: 130px;
  }

  &__type {
    width: 128px;
  }

  &__address {
    font-size: 13px;
  }

  &__statusContainer {
    display: flex;
    width: 100px;
    font-size: 11px;
  }

  &__status {
    width: 154px;

    &_value {
      color: #85ef89;
      background-color: #14532b;
      border-radius: 6px;
      padding-top: 3px;
    }
  }

  &__editing {
    background-color: transparent;
    border: none;
    margin: 6px 0px 7px 0px;
    border-radius: 10px;
    padding: 11px 16px 7px 16px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .supplyCard {
    &__date,
    &__number,
    &__quantity,
    &__titleItems {
      font-size: 11px;
    }

    &__warehouse {
      width: 104px;
    }

    &__date {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
