.supplyCard {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 74vh;
}

.supplyCard__titleItems {
  display: flex;
  gap: 16px;
  font-size: 13px;
  margin: 0 0 12px 12px;
}

.supplyCard__container {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: var(--color-transparent);
  border-radius: 14px;
  gap: 16px;
}

.supplyCard__container:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.supplyCard__items {
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 10px 8px 3px 7px;
  gap: 13px;
  flex-grow: 1;
}

.supplyCard__warehouse {
  flex-grow: 1;
}

.supplyCard__item {
  padding: 6px 8px 0px 8px;
}

.supplyCard__city,
.supplyCard__type,
.supplyCard__warehouse,
.supplyCard__address,
.supplyCard__statusContainer,
.supplyCard__status_value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.supplyCard__date,
.supplyCard__number,
.supplyCard__quantity {
  word-break: break-all;
}

.supplyCard__number {
  width: 84px;
}

.supplyCard__date {
  width: 112px;
}

.supplyCard__city {
  width: 148px;
  white-space: nowrap;
}

.supplyCard__quantity {
  width: 130px;
}

.supplyCard__type {
  width: 128px;
}

.supplyCard__address {
  font-size: 13px;
  color: var(--color-text-transparent);
}

.supplyCard__statusContainer {
  display: flex;
  width: 100px;
  font-size: 11px;
}

.supplyCard__status {
  width: 154px;
}

.supplyCard__status_value {
  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: 6px;
  padding-top: 3px;
}

.supplyCard__status_value--inTransit {
  background-color: #14532b;
  color: #85ef89;
}

.supplyCard__status_value--delayed {
  background-color: #7c3d12;
  color: #fdb172;
}

.supplyCard__editing {
  background-color: transparent;
  border: none;
  margin: 6px 0px 7px 0px;
  border-radius: 10px;
  padding: 15px 20px 7px 16px;
  cursor: default;
  width: 10px;
}

.supplyCard__editing:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.supplyCard__noSuppliesMessage {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.supplyCard__options {
  margin-left: -167px;
}

.supplyCard__labelMob {
  display: none;
}

.supplyCard__editingImgMob {
  display: none;
}

@media (min-width: 768px) and (max-width: 1365px) {
  .supplyCard__date,
  .supplyCard__number,
  .supplyCard__quantity,
  .supplyCard__titleItems {
    font-size: 11px;
  }

  .supplyCard__warehouse {
    width: 104px;
  }

  .supplyCard__date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .supplyCard__titleItems,
  .supplyCard__city,
  .supplyCard__items,
  .supplyCard__editingImg,
  .supplyCard__type,
  .supplyCard__quantity {
    display: none;
  }

  .supplyCard__labelMob {
    display: block;
    color: var(--color-text-transparent);
    font-size: 13px;
  }

  .supplyCard__item {
    padding: 0;
  }

  .supplyCard__editingImgMob {
    display: block;
  }

  .supplyCard__editing:hover {
    background-color: transparent;
  }

  .supplyCard__container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-rows: auto auto;
    padding: 12px;
    gap: 11px;
  }

  .supplyCard__labelNumberMob {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .supplyCard__labelDateMob {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 5px;
  }

  .supplyCard__editing {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    padding: 0;
    margin-left: 13px;
  }

  .supplyCard__statusContainer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 14px;
    overflow: initial;
  }

  .supplyCard__status_value {
    padding: 4px 4px 0px 4px;
    overflow: initial;
  }
}
