.react-datepicker__header {
  background-color: transparent !important;
  border: none !important;
}

.react-datepicker__day-names {
  margin-bottom: -16px !important;
}

.react-datepicker__month-container {
  padding: 0px 10px 10px 10px !important;
}

.react-datepicker__current-month {
  padding: 10px 0 20px 0 !important;
}

.react-datepicker__current-month {
  font-weight: 500 !important;
}

.react-datepicker__day {
  border: 0.5px solid #f0f0f3;
  line-height: 2.4rem !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0 !important;
  width: 2.4rem !important;
}

.react-datepicker__day--outside-month {
  border: none;
  color: #d1cfd7 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day:hover,
.react-datepicker__day--keyboard-selected {
  border-radius: 0 !important;
}

.react-datepicker__day--today {
  font-weight: 400 !important;
}

.react-datepicker-popper {
  left: 48px !important;
}

.react-datepicker__day-name {
  text-transform: uppercase !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker {
  border: none !important;
}

.react-datepicker__day-name {
  &:nth-child(6),
  &:nth-child(7) {
    color: #f96666;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__navigation-icon--next::before {
  transform: rotate(45deg);
  left: -7px;
  position: relative;
}

.react-datepicker__navigation-icon::before {
  border-style: none !important;
}

.react-datepicker__navigation--next {
  background: url("../../icons/arrow-horizontal.svg") no-repeat !important;
  transform: rotate(180deg);
  margin-right: 18px;
}

.react-datepicker__navigation--previous {
  background: url("../../icons/arrow-horizontal.svg") no-repeat !important;
  margin-top: 14px;
  margin-left: 20px;
}
