.suppliesPage {
  display: flex;

  &__logo {
    margin: 30px 18px;
  }

  &__container {
    margin: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__segments {
    display: flex;
    align-items: start;
    margin-bottom: 25px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    letter-spacing: 0.7px;
    line-height: 48px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__adding {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 8px 8px 4px 8px;
    margin-bottom: 4px;
    cursor: default;

    &:hover {
      background-color: var(--color-transparent);
    }
  }

  &__addingImg {
    width: 18px;
    height: 18px;
  }

  &__menu_mob {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .suppliesPage {
    display: block;

    &__logoContainer {
      display: flex;
      justify-content: center;
    }

    &__logo {
      margin-bottom: 6px;
      display: flex;
    }

    &__actions {
      gap: 10px;
    }
  }

  @media (min-width: 375px) and (max-width: 767px) {
    .suppliesPage {
      &__logo {
        width: 39px;
        height: 22px;
      }

      // &__menu_mob {
      //   display: flex;
      //   visibility: visible;
      // }
    }
  }
}
