.search {
  display: flex;
  background-color: var(--color-transparent);
  border-radius: 14px;
  padding: 4px;
  margin-top: -6px;
}

.search__selectWrapper {
  display: flex;
  background-color: var(--color-dark);
  border-radius: 10px;
  padding: 9px 11px 5px 8px;
}

.search__select,
.search__input {
  border: none;
  outline: none;
  color: var(--color-light);
  background-color: transparent;
  cursor: default;
}

.search__select {
  appearance: none;
  background: url("../../icons/arrow-vertical.svg") no-repeat;
  background-position: right center;
  width: 115px;
}

.search__selectType {
  letter-spacing: normal;
  width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search__inputWrapper {
  display: flex;
  gap: 4px;
  background: url("../../icons/search.svg") no-repeat;
  background-position: right center;
  margin-right: 14px;
}

.search__input {
  margin: 0px 52px 0px 6px;
}

.search__input::placeholder {
  letter-spacing: 1px;
  font-size: 15px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .search {
    display: none;
  }
}
